<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_Gi-avNz44ONwOBuh51usgj5Vc1bIybc</string>
	<key>GCM_SENDER_ID</key>
	<string>409569992923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.misterion.TheadsTutorials</string>
	<key>PROJECT_ID</key>
	<string>threadstutorial-2ccc6</string>
	<key>STORAGE_BUCKET</key>
	<string>threadstutorial-2ccc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409569992923:ios:91c13e9edfc9e1142bacfe</string>
</dict>
</plist>